body { 
	
	background-color: #070a0c !important;
	font-family: 'Special Elite', cursive !important;
	color: #6d6d6d !important;
	margin-left: 2% !important;
	margin-right: 10% !important;
	margin-top: 60px !important;
}


h1 {
	font-size: 25px !important;
}
